rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función auxiliar para verificar rol
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.profile.role == 'admin';
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      
      match /transactions/{txId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
      match /budgets/{budgetId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
    }
  }
}
